body {    
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 1.2;
    background: black;
}

/* form basic style */
form {
    box-sizing: border-box;
    width: 600px;
    margin: 100px auto;
    padding: 30px;
    background: white;
    border-radius: 5px;
}
ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

/* form item style */
.form-item { 
    padding: 5px 50px 7px 20px;
    text-align: right; 
}
label { 
    font-size: 1.2em; 
    font-weight: bold;
}
input {
    box-sizing: border-box;
    margin-left: 20px;
    width: 350px;
    padding: 10px;
    font-size: .9em;
    border: 2px solid #bbb;
    border-radius: 5px;
    outline: none; 
}
input:focus { border-color: rgb(77, 144, 254); }
span {
    display: block;
    height: 1.1em;
    margin: 5px 120px;
    color: #aaa;
    font-size: .9em;
    text-align: left;
}

/* submit button */
button {
    float: right;
    margin-right: 50px;
    padding: 7px 15px;
    font-size: 1.4em;
    color: white;
    border: none;
    border-radius: 5px;
    background: #2f79ba;
    cursor: pointer;
}

/* dynamic class */
.border-success { border-color: green; }
.border-danger  { border-color: red; }
.text-success  { color: green; }
.text-danger   { color: red; }

/* tool class */
.clearfix:after { 
   content: "."; 
   visibility: hidden; 
   display: block; 
   height: 0; 
   clear: both;
}